.display {
  box-sizing: border-box;
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  left: -1px;
  width: 402px;
  height: 50px;
  text-align: right;
  font-size: 22px;
  background-color: #858694;
  color: white;
  font-weight: 500;
  border: 1px solid black;
}
